<section id="book_more">


        <div class="product_more_wrap">
            <div class="prod_content sec_wrap">     
                <div class="left_info">
                    <div class="info_txt">

                    <% let price = row.price.toLocaleString() %>

                        <!-- <p><%= row.titleinfo %></p> -->
                        <h2><%= row.title %></h2>
                        <h3><%= row.writer %></h3>
                   
                        <h4 class="line">책 소개</h4>
                        <p><%= row.titleinfo %></p>
                        <h4><%= price %> 원</h4>
                        <input type="button" value="목록" class="list_btn" onclick="location.href='/booklist'">
                        <div class="btn">
                            <input type="button" value="삭제" onclick="javascript:location.href='/deleteB?id=<%= row.id %>'">
                            <input type="button" value="수정" onclick="javascript:location.href='/bookBtn?id=<%= row.id %>'">
                        </div>
                  
                    </div>
                  
                </div>
            <div class="center_prod"><img src="<%= row.img %>" alt="">
            <div class="center_txt">
                <p><%= row.info %></p>
            </div></div>

        </div>   
        </div>


    </div>
</section>
 